.cache/
*.pt
.vscode/*
__pycache__/
*.onnx
.data/
lightning_logs/
MNIST/
*.cpython*
*.onnx
*.egg-info/
dist/
build/
cifar-10-batches-py/
cifar-10-python.tar.gz
.ipynb_checkpoints/
*.out
*.swp
*.pyc
runs/mnist/
runs/cifar10/
runs/
.mypy_cache/**
docs/source/auto_examples/**
docs/source/auto_api/**
.csv
SpeechCommands/
bazel-*
*.log
*.npy
*.so
venv*/
*.log
*.npy
*.so
Pipfile
Pipfile.lock
.pytype/
htmlcov/
.venv/
.secrets
.coverage
