.vscode/*
__pycache__/
*.onnx
MNIST/
*.cpython*
*.onnx
*.egg-info/
dist/
build/
cifar-10-batches-py/
cifar-10-python.tar.gz
.ipynb_checkpoints/
*.out
*.swp
*.pyc
runs/mnist/
runs/cifar10/
runs/
.mypy_cache/**
docs/source/auto_examples/**
.csv
SpeechCommands/
bazel-*
