[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
matplotlib = "*"
torchvision = "*"
tensorboard = "*"
torch = "*"

[dev-packages]
pipenv-setup = "*"
pylint = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-gallery = "*"

[requires]
python_version = "3.7"
