[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
matplotlib = "*"
torchvision = "*"
tensorboard = "*"

# Note: Tensorflow 2.0.0 cannot install with pipenv because of a broken dependency on functools32
#    Solution: Install manually with pip

[dev-packages]

[requires]
python_version = "3.7"
