dt .sig-param {
    margin-left: 4em;
    width: 80%;
    display: inline-block;
}
dt .sig-param .n {
    font-weight: bold;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}

.py.function, .py.class {
    border-top: 3px solid #2b2e83;
    margin-top: 2em;
    padding-top: 1em;
}