name: Benchmark Norse

on: 
  push:
    tags:
      - 'v**'
      - '!v**RC**'
    branches:
      - feature-ci-benchmark


jobs:
  benchmark-norse:
    # Only run on self-hosted Hugin machine
    runs-on: self-hosted
    container: 
      image: python:3.10
      options: --gpus 1
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install dependencies
        run: |
          pwd && ls
          pip3 install --upgrade pip
          pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu113
          pip3 install pandas matplotlib
          pip3 install -e .

      - name: Run benchmark with CUDA
        run: cd norse/benchmark && python3 -m norse.benchmark.main --norse --device cuda

      - name: Renew plot
        run: python3 -m norse.benchmark.plot norse/benchmark/benchmark_results.csv --to norse/benchmark/norse_lif_benchmark.png

      - name: Commit results
        uses: ad-m/github-push-action@master
        with:
          branch: ${{ github.ref }}
          github_token: ${{ secrets.GITHUB_TOKEN }}