name: Build docker images

on:
  pull_request:

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get version
        id: version
        run: |
          # Get version and convert to PEP 440 format
          # v1.1.0-30-g4b213c96 -> 1.1.0.dev30+g4b213c96
          VERSION=$(git describe --tags --always | sed 's/^v//' | sed 's/-\([0-9]*\)-g/.dev\1+g/')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build Docker image
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: publish/Dockerfile
          push: false
          build-args: |
            VERSION=${{ steps.version.outputs.version }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
