name: Build docker images

on:
  push:
    branches:
      - main
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: "norse+github_actions"
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Build and push vanilla Python version
        id: docker_build_vanilla
        uses: docker/build-push-action@v2
        with:
          context: .
          file: publish/Dockerfile
          push: false
      - name: Image digest vanilla
        run: echo ${{ steps.docker_build_vanilla.outputs.digest }}

      - name: Build CUDA version
        id: docker_build_cuda
        uses: docker/build-push-action@v2
        with:
          context: .
          file: publish/Dockerfile.cuda
          push: false
          tags: quay.io/norse/norse:latest-cuda
      - name: Image digest cuda
        run: echo ${{ steps.docker_build_cuda.outputs.digest }}
