name: Documentation Publish

on:
  push:
    branches:
      - main

jobs:
  publish-docs:
    name: "Publish documentation"
    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install system dependencies
        run: sudo apt update && sudo apt install g++ -y
      - name: Fix sphinx-jupyterbook-latex bug
        run: pip install git+https://github.com/jegp/sphinx-jupyterbook-latex
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt
          pip install -e .
      - name: Compile docs
        run: jupyter-book build docs
      - name: Commit documentation changes
        run: |
          git clone https://github.com/norse/norse --branch gh-pages --single-branch gh-pages
          cp -r docs/_build/html/* gh-pages/
          cp -r docs/generated/ gh-pages/
          cd gh-pages
          git config --local user.email "docbot@norse.ai"
          git config --local user.name "docbot"
          git add .
          git commit -m "Update documentation" -a || true
          # The above command will fail if no changes were present, so we ignore
          # the return code.
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
