name: Documentation Build

on:
  pull_request:

jobs:
  build-docs:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install dependencies
        run: |
          uv pip install -r docs/requirements.txt --system
          uv pip install -e . --system
      - name: Build docs
        run: jupyter-book build docs
