name: Documentation Build

on:
  pull_request:

jobs:
  build-docs:
    name: "Build documentation"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install system dependencies
        run: sudo apt update && sudo apt install g++ -y
      - name: Fix sphinx-jupyterbook-latex bug
        run: pip install git+https://github.com/jegp/sphinx-jupyterbook-latex
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt
          pip install -e .
      - name: Compile docs
        run: jupyter-book build docs
