name: Publish to Conda

on:
  release:
    types: [published]

jobs:
  publish-conda:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set env
        run: echo "name=RELEASE_VERSION" >> $GITHUB_ENV
      - name: Install build tools
        run: apt update && apt install -y build-essential
      - name: publish-to-conda
        uses: jegp/conda-package-publish-action@v1.4
        with:
          subDir: "publish/conda"
          anacondatoken: ${{ secrets.ANACONDA_TOKEN }}
          platforms: "win osx linux"
          publishFlags: "-u norse"
