name: Publish to Conda

on:
  release:
    types: [published]
    
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set env
      run: echo "name=RELEASE_VERSION" >> $GITHUB_ENV
    - name: Install build tools
      run: apt update && apt install -y build-essential
    - name: publish-to-conda
      uses: fcakyon/conda-publish-action@v1.3
      with:
        subDir: 'publish/conda'
        anacondatoken: ${{ secrets.ANACONDA_TOKEN }}
        platforms: 'win osx linux'