name: Build Python

on:
  pull_request:

jobs:
  build-manylinux:
    name: "Build for manylinux"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build manylinux Python wheels
        uses: RalfG/python-wheels-manylinux-build@v0.3.4-manylinux2014_x86_64
        with:
          python-versions: "cp37-cp37m cp38-cp38 cp39-cp39"
          build-requirements: "torch"
          pre-build-command: 'sh publish/setup_libtorch.sh 1.9.1'

  build-python-ubuntu:
    name: "Build and analyze for ubuntu-latest: Python v3.9"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]
    steps:
      - uses: actions/checkout@master
      - name: Cache
        if: ${{ !env.ACT }} # Cache not working due to https://github.com/nektos/act/issues/329
        uses: actions/cache@v2
        env:
          # Increase this value to reset cache if environment.yaml has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/cpp_pkgs_dir
          key: ubuntu-python-latest-${{ env.CACHE_NUMBER }}

      # Setup dependencies
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install GCC
        run: |
          sudo apt update
          sudo apt install g++ -y
      - name: Install test dependencies
        run: pip install pytest-cov pytest-xdist pytype black
      - name: Install optional libraries
        run: pip install matplotlib tensorboard pytorch-lightning
      - name: Install package
        run: pip install -e .

      # Test, type check, and lint
      - name: Run unit tests
        run: pytest norse -n auto --cov=./ --cov-report=xml
      - name: Type check
        run: pytype norse -j 4
      - name: Lint
        run: black --check norse

      - name: Upload coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: true

  build-python-mac-windows:
    name: "Build and test for ${{ matrix.os }}: Python v${{ matrix.python-version }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install build dependencies
        run: |
          pip install setuptools wheel pytest-xdist tensorboard
          pip install -e .
      - name: Run unit tests
        run: pytest -n auto norse
      - name: Build wheel
        run: python setup.py bdist_wheel sdist
